styles.css
body {
    font-family: 'Sevillana', cursive;
    margin: 2;
    padding: 0;
    background: linear-gradient(135deg, #f9f7f7, #e1e1e1);
    color: #043E52;
}

header {
    background-color: #043E52;
    padding: 3em;
    text-align: center;
}

header .logo-image {
    max-width: 200%;
    height: auto;
    width: 200px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: #e16a3d;
    font-weight: bold;
    font-size: 1.5em;
}

#hero {
    background-image: url('acuarelawater.jpg');
    font-family: 'Sevillana', cursive;
    background-size: cover;
    background-position: center;
    padding: 5em 1em;
    text-align: center;
    color: #FFA45D;
}

#hero h2 {
    font-size: 5em;
  font-family: 'Sevillana',cursive;
  font-weight: 200;
  font-style: normal;
}

section {
    padding: 2em;
}

#about {
    background-color: #ffffff;
    color: #043E52;
    font-size: 2em;
}

#gallery {
    background-color: #ffffff;
    color: #DC7E6F;
    font-size: 2em;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    gap: 2em;
}

.gallery-grid img {
    width: 100%;
    border-radius: 100px;
}

#videos {
    padding: 3em;
    background-color: #f9f9f9;
    text-align: center; /* Centra el texto del encabezado */
}

#videos h2 {
    text-align: center;
    color: #E16A3D;
    margin-bottom: 1em;
    font-family: 'Sevillana', cursive;
    font-size: 3em
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(4, 2fr); /* Dos columnas por fila */
    gap: 3em; /* Espacio entre videos */
    justify-content: center; /* Centrar la cuadrícula */
}

.video-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

video {
    width: 80%; /* Asegura que el video ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la relación de aspecto del video */
}

#contact {
    background-color: #ffffff;
    color: #043E52;

}

#contact h2 {
    font-size: 3em; /* Tamaño de fuente del encabezado */
    color: #043E52; /* Color del texto */
    text-align: center; /* Centrar el texto */
    margin-bottom: 0.5em; /* Espacio debajo del encabezado */
    font-family: 'Sevillana', cursive; /* Fuente personalizada */
}

#contact p {
    font-size: 2em; /* Tamaño de fuente del párrafo */
    color: #DC7E6F; /* Color del texto */
    text-align: center; /* Centrar el texto */
    line-height: 1.6; /* Altura de línea para mejorar la legibilidad */
    margin: 0 auto 1.5em auto; /* Margen automático para centrar */
    max-width: 800px; /* Ancho máximo del párrafo */
    font-family: 'Sevillana', cursive; /* Fuente personalizada */
}

form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 0.5em 1em;
    background-color: #FFA45D;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: ##FFA45D;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #ffcccb;
    color: #6a0572;
}

@font-face {
    font-family: 'Sevillana-Regular';
    src: url('Sevillana-Regular') format('woff2'),
         url('Sevillana-Regular') format('woff');
    font-weight: normal;
    font-style: normal;